
<form class="input">
    <input class="box" type="text" name="noun" ng-model="words.noun" placeholder=" Type a Name"><br>
    <input class="box" type="text" name="place" ng-model="words.place" placeholder=" Type a Place"><br>
    <input class="box" type="text" name="anothNoun" ng-model="words.anothnoun" placeholder=" Type a Noun"><br>
    <input class="box" type="text" name="oneMoreNoun" ng-model="words.onemorenoun" placeholder=" Type Another Noun"><br>
    <input class="box" type="text" name="anothName" ng-model="words.anothname" placeholder=" Type a Another Name"><br>
    <input class="box" type="text" name="animal" ng-model="words.animal" placeholder=" Type an Animal"><br>
    <input class="box" type="text" name="diffplace" ng-model="words.diffplace" placeholder="Type a Different Place"><br>
    <button type="button" ng-click="submitWords(words)">Send</button>
  </form>
